*.log
/_minted-ResearchProject18/
/ResearchProject18 - Copy.tex
/ResearchProject18.aux
/ResearchProject18.bbl
/ResearchProject18.blg
/ResearchProject18.out
/ResearchProject18.pdf
/ResearchProject18.synctex.gz
/ResearchProject18.toc
